body {
	background: #f1f1f1;
	font-family: "Roboto", "Segoe UI", sans-serif;
	padding: 40px 20px;
	color: #222
}

input, button {
	transition: .3s;
}

h1 {
	font-size: 3em
}

h2 {
	font-size: 2.2em
}

input[type="text"] {
	border: 0;
	background: transparent;
	box-shadow: 0 -2px inset #ccc;
	padding: 10px 0;
	font: inherit;
	width: 250px
}

input[type="text"]:focus {
	box-shadow: 0 -2px inset #bbb;
}

input.wide {
	width: 100%;
	max-width: 600px;
}

button {
	border: 0;
	background: #ccc;
	padding: 10px 20px;
	font: inherit;
	cursor: pointer;
	transition: .3s;
}

button:hover {
	background: #bbb
}

button:active {
	background: #aaa
}

.hidden{
	display: none;
}

.visible{
	display: block
}

.verticalGallery {
	overflow-x: scroll;
	white-space: nowrap;
}

.box {
	margin: 20px 0;
	background: white;
	padding:10px;
	max-width: 600px;
}

.box.narrow {
	width: 300px
}

.box .listTable {
	margin: 20px 0;
	border-collapse: collapse;
}

.box .listTable td:first-child {
	padding: 5px 15px 5px 0
}

.galleryItem {
	display: inline-block;
	margin-right: 15px;
}

.galleryItem > * {
	display: inline-table;
}

.galleryItem > .caption {
	display: block;
} 

.galleryItem:last-child {
	margin-right: 0;
}

#search_results {
	margin-top: 50px;
}

.ruleBlock .upos {
	font-size: 1.5em;
	margin-right: 15px
}

.ruleBlock .xpos {
	color: #999
}

.ruleBlock .ruleId:not(.noId) {
	font-family: "Roboto Mono", monospace
}
