<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	{% block headimports %}{% endblock %}
</head>
<body>
{% block header %}{% endblock %}
<content>
{% block content %}{% endblock %}
</content>
{% block endbody %}{% endblock %}
</body>
</html>
