{% extends "base.html.j2" %}

{% block title %}{% endblock %}

{% block headimports %}
	<link rel="stylesheet" type="text/css" href="css/main.css">
{% endblock %}

{% block header %}
	<div class="header">
		<h2>Syntext-ua</h2>
	</div>
{% endblock %}

{% block content %}
	<div class="navig">
  	<a class="active" href="">Home</a>
  	<a href="">FAQ</a>
  	<a href="">About us</a>
	</div>
	<section>
		<div>
			<a href="/process_word" class="contBlock">
				<h3 class="container">Морфоаналізатор<br> </h3>
				<h3 class="container">88%<br>частини мови</h3>
				<h3 class="container">72%<br>морфологія</h3>
			</a>
		</div>
		<div>
			<a href="/tagged_sentence" class="contBlock">
				<h3 class="container">Розбiр синтаксису<br> </h3>
				<h3 class="container">51%<br>точність</h3>
			</a>
		</div>	
		<div>
			<a href="" class="contBlock">
				<h3 class="container">Контекстуальний<br>процесор</h3>
				<h3 class="container">88%<br>частини мови</h3>
			</a>
		</div>
	</section>
{% endblock %}

{% block endbody %}
{% endblock %}
