{% extends "base.html.j2" %}

{% block title %}{% endblock %}

{% block headimports %}
	<link rel="stylesheet" type="text/css" href="css/main.css">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
	<div class="contBlock">
		<a href="/process_word" class="container">
				<h3 class="container">Контекстуальний процесор</h3>	
				<h3 class="container">88%</h3>
				<h3 class="container">Точність розпізнавання</h3>
		</a>
	</div>
	<div class="contBlock">
		<a href="/tagged_sentence" class="container">
			<div>
				<h3 class="container"></h3>	
				<h3 class="container"></h3>
				<h3 class="container"></h3>
			</div>
		</a>
	</div>
	<div>
	</div>
{% endblock %}

{% block endbody %}
{% endblock %}
