{% extends "base.html.j2" %}

{% block title %}{% endblock %}

{% block headimports %}
	<link rel="stylesheet" type="text/css" href="css/main.css">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
	<div class="header">
		<h1>Syntext-ua</h1>
	</div>
	<section class="linkBlock">
		<h2>Морфоаналізатор</h2>
		<div class="statistics">
			<div>
				<span class="largeCaption">88%</span>
				<span class="smallCaption">частини мови</span>
			</div>
			<div>
				<span class="largeCaption">72%</span>
				<span class="smallCaption">морфологія</span>
			</div>
		</div>
		<p>Афіксальний морфоаналізатор з’ясовує морфологічні властивості слів. Працює на завантажених у базу даних правилах. Їх можна змінювати/створювати вручну, або згенерувати одним із морфологічних тренерів.</p>
		<a href="/process_word">
			<button>Перейти</button>
		</a>
	</section>
	<section class="linkBlock">
		<h2>Морфологічний розбір речення</h2>
		<div class="statistics">
			<div>
				<span class="largeCaption">72%</span>
				<span class="smallCaption">частини мови</span>
			</div>
		</div>
		<p>Цей інструмент дозволяє отримати речення з протегованими словами: до кожного з них буде приєднано список морфологічних властивостей, що воно має.</p>
		<a href="/tagged_sentence">
			<button>Перейти</button>
		</a>
	</section>
	<section class="linkBlock">
		<h2>Граматика продукцій</h2>
		<div class="statistics">
			<div>
				<span class="largeCaption">~2ms</span>
				<span class="smallCaption" title="Швидкодія на речені з 20 слів.">швидкодія</span>
			</div>
		</div>
		<p>Для аналізу синтаксису переданого речення використовується граматика продукцій. Для розбору буде застосовано правила з бази даних.</p>
		<a href="/prod_grammar">
			<button>Перейти</button>
		</a>
	</section>
	<section class="linkBlock">
		<h2>Відмінювач</h2>
		<div class="statistics">
			<div>
				<span class="largeCaption">~0.3ms</span>
				<span class="smallCaption" title="Швидкодія відмінювання одного слова">швидкодія</span>
			</div>
		</div>
		<p>Відмінювач дозволяє змінити морфологічні властивості іменників, прикметників та дієслів. Використовується бібліотека dclua з натренованими для неї моделями відмінювання.</p>
		<a href="/declensor">
			<button>Перейти</button>
		</a>
	</section>
{% endblock %}

{% block endbody %}
{% endblock %}
