{% extends "base.html.j2" %}

{% block title %}Протегувати речення{% endblock %}

{% block headimports %}
	<link rel="stylesheet" type="text/css" href="css/main.css">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
	<div class="search_top">
		<input type="text" placeholder="Введіть речення" id="search_input" class="wide"></input>
		<button onclick="search()">Розпізнати</button>
	</div>
	<div id="search_results" class="hidden">
		<div id="sentence_tagging" class="verticalGallery"></div>
	</div>
	</div>
{% endblock %}

{% block endbody %}
	<script type="text/javascript" src="js/api.js"></script>
	<script type="text/javascript" src="js/blocks.js"></script>
	<script type="text/javascript" src="js/localization.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript">
		const search_results = $("search_results");
		const search_input = $("search_input");
		const sentence_tagging = $("sentence_tagging");

		const drawResponse = data => {
			search_results.className = "visible";
			with(sentence_tagging){
				clear();
				apply(Blocks.TaggedSenWord).toEachFrom(data);
			}
		}

		const search = () => API.send(
			"GET",
			`tagged/sentence/${encodeURIComponent(search_input.value)}`,
			drawResponse
		);

		search_input.runOnEnter(search);
	</script>
{% endblock %}
